<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Register Event - Event Manager</title>
</head>
<body>
    <h1>Register Event</h1>
    <form method="post">
        Name: <input type="text" value="" name="name">
        Location: <input type="text" value="" name="location">
        Date: <input type="date" value="" name="date">
        Time: <input type="time" value="" name="time">

        <button type="submit">Register</button>
    </form>
</body>
</html>