<!DOCTYPE html>
<html lang="en"
      xmlns:th="hhtp://thymeleaf.org"
      xmlns:layout="https://www.ultraq.net.nz//thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Event Manager</title>
</head>
<body>
    <h1>Events List</h1>
    <h3>
        <a href="/event">Register Event</a>
    </h3>
    <div th:each="event : ${events}">
        <div class="row">
            <p><span th:text="${event.name}"></span></p>
            <p><span th:text="${event.date}"></span></p>
            <p><span th:text="${event.time}"></span></p>
            <p><span th:text="${event.location}"></span></p>
        </div>
    </div>
</body>
</html>